@import 'tailwindcss';
@config "../tailwind.config.js";

:root {
  svg {
    width: 24px;
    height: 24px;
  }
}

@theme {
  --color-primary-900: #b36700;
  --color-primary-800: #c97800;
  --color-primary-700: #e08c00;
  --color-primary-600: #f5a100;
  --color-primary-500: #ffb300;
  --color-primary-400: #ffc72e;
  --color-primary-300: #ffd94e;
  --color-primary-200: #ffea70;
  --color-primary-100: #fef88f;

  --color-accent-900: #3a0080;
  --color-accent-800: #46109a;
  --color-accent-700: #521eb5;
  --color-accent-600: #5e2dd0;
  --color-accent-500: #6a35f0;
  --color-accent-400: #853aff;
  --color-accent-300: #a15fff;
  --color-accent-200: #bb88ff;
  --color-accent-100: #d4b3ff;

  --color-gray-100: #ffffff;
  --color-gray-200: #fafafa;
  --color-gray-300: #f5f5f5;
  --color-gray-400: #e0e0e0;
  --color-gray-500: #bdbdbd;
  --color-gray-600: #999999;
  --color-gray-700: #6e6e6e;
  --color-gray-800: #2e2e2e;
  --color-gray-900: #000000;

  --color-success: #2ecc71;
  --color-warning: #ff9800;
  --color-error: #e53935;
  --color-info: #2196f3;

  /* spacing */

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
